* { /* עיצב עבור כל הדף */ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

:root{
    --salmon:#FFA07A    ; 
}

body{
    background-image: url(backround_pic.jpg);
    background-size: cover;
    margin: 50px;
    margin-top: 0;
    padding: 10px;
    border-radius: 5px;
}

h1{
    font-size: 3.7vw;
    text-align: center;
    color: var(--salmon);
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 5px;
}

h2{
    font-size:2.3vw;
    color:#f37c4d;
}

/*------GRID------*/
.grid_container{
    display: grid;
    background-color: rgba(255, 255, 255, 0.568);
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    grid-template-areas: 'education Personal_Information Work_Experience photos';
    text-align: center;
}

.education{
    grid-area: education; 
}
.Personal_Information{
    grid-area: Personal_Information; 
}
.Work_Experience{ 
    grid-area: Work_Experience; 
}

.Photos{
    grid-area: photos;
 }

/*------FORM------*/
table{
    font-weight: bold;
}
input[type="text"] {
    border:azure;
    background-color:rgba(255, 255, 255, 0.781);
    border-radius: 5px;
}
textarea{ 
    border:azure;
    background-color:rgba(255, 255, 255, 0.781);
    border-radius: 5px;
}

input[type="submit"] {
    font-size: large;
    background-color: var(--salmon);
}    
